<?xml version="1.0" ?>
<model>
  <name>battery_model</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Abhimanyu Bhowmik</name>
    <email>bhowmikabhimanyu@gmail.com</email>
  </author>
  <description>
    A simple battery model for testing
  </description>
</model>
